.canvas {

 margin-left: 5%;
 margin-top: 10%;
 position: fixed;

}

.img1 {

    margin-left: 8.7%;
    margin-top: 17.5%;
    position: fixed;
    width: 16%;
    height: auto;
   
   }

.img2 {

    margin-left: 45.1%;
    margin-top: 15%;
    position: fixed;
    width: 10%;
    height: auto;
   
}

.img3 {

    margin-left: 78.2%;
    margin-top: 15%;
    position: fixed;
    width: 10%;
    height: auto;
   
}